
.tab-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.tab-list {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-list li {
  margin-right: 10px;
}

.tab-list button {
  background-color: white;
  border: 1px solid #d8dbda;
  border-bottom: 0;
  color: 332323;
  padding: 1rem 1.25rem;
  margin: 0 2px;
  border-radius: 8px 8px 0 0;
}

.tab-list .active button {
   
  background-color: black;
  color: #fff;
  padding: 1rem 1.25rem;
  border: 1px solid black;
}
.tab-content {
   
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-top: none;
}
 

.custom-tabs {
  background-color: #fff !important;
}
.custom-tabs .tab-list {
  background-color: #fff !important;
  border-bottom: 1px solid #d8dbda;
}
.custom-tabs .tab-list button {
  
  background-color: white;
  border: 0;
  color: #242526;
  padding: 0 1.25rem 0.875rem;
  margin: 0 2px;
  border-radius: 0;
}
.custom-tabs .tab-list .active button {
  
  border-bottom: 3px solid black;
  color: black;
  padding: 0 1.25rem 0.875rem;
}
.custom-tabs .tab-content {
  padding: 20px 0;
  border: none;
  box-shadow: none;
}

.Settings-tab {
  background-color: transparent;
}
.Settings-tab .tab-list {
  background-color: transparent;
  margin-bottom: 2rem;
}
.Settings-tab .tab-list button {
  
  background-color: transparent;
  border: 0;
  color: #242526;
  padding: 0.875rem 1.25rem;
  margin: 0 2px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Settings-tab .tab-list .active button {
   
  background-color: #fff;
  border-radius: 0.5rem;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 15%);
}
.Settings-tab .tab-content {
  padding: 20px 0;
  border-bottom: 1px solid #d9dbdf;
  box-shadow: none;
  background-color: transparent;
}

@media (max-width: 1179px) {
  .tab-list button,
  .tab-list .active button {
    padding: 1rem;
  }
  .tab-list {
    overflow-x: scroll;
  }
}

.tab-list li button.disabled-tab {
  cursor: not-allowed;
  background-color: #ccc;
  color: #666;
  border-radius: 6px 6px 0 0;
  padding-top: .75rem;
}